<?xml version="1.0"?>
<launch>
	<include file="$(find spacemouse_controller)/launch/spacemouse_controller.launch" />
	<include file="$(find mrcar_hardware_ctrl)/launch/mrcar_hardware_ctrl.launch" />
	<include file="$(find rplidar_ros)/launch/rplidar.launch" />
	<include file="$(find hector_slam_launch)/launch/mobiles_robotikprojekt_2.launch" /> 
</launch>
